body {
    font-family: cursive, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    overflow-x: hidden;
}

.main-bg {
    background-color: rgb(216, 178, 24)  !important;
}

.main-color {
    color: rgb(114, 2, 114);
}

/* banner */

.carousel-item img {
    height: 500px; 
    object-fit: cover; 
}

/* promo */

.hovered-card {
    transition: .3s;
    margin-bottom: 20px;
}

.hovered-card:hover {
    transform: scale(1.1);
}
.card {
    border-radius: 15px; /* Sesuaikan sesuai keinginan */
    overflow: hidden; /* Agar gambar ikut rounded */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Tambahkan shadow untuk efek lebih menarik */
}

.card-img-top {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.btn-primary {
    background-color: #f9C46E; /* Warna coklat */
    border-color: #f9C46E
}

.btn-primary:hover {
    background-color: #f9C46E; /* Warna coklat lebih terang saat hover */
    border-color: #f9C46E;
}


/* pelayanan */

.pelayanan {
    background-color: #700970;
}

.pelayanan-content {
    transition: .3s;
}

.pelayanan-content:hover {
    transform: scale(1.1);
}

.pelayanan .icon-circle {
    width: 90px;
    height: 90px;
    border: solid 2px;
}

/* menu favorit */

.menu-favorit {
    background-color: rgba(243, 243, 243);
}

.menu-favorit-content {
    transition: .3s;
}

.menu-favorit-content:hover {
    transform: scale(1.1);
}

/* testimony */

.testimony-content {
    transition: .3s;
}

.testimony-content:hover {
    transform: scale(1.1);
}

/* subscribe */

.subscribe-content {
    background-color: rgba(0, 0, 0, 0.7);
}

/* produk banner */
.produk-banner {
    height: 50vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../image/banner.jpg');
    background-size: cover;
    background-position: center;
}

.navbar {
    position: STICKY;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #ffcc80;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}
@media only screen and (min-width: 1024px) {
    .navbar{
        display : none !important;
    }
}
.slick-slide {
	transform: scale(0.8);
	transition: all 0.4s ease-in-out;
	padding: 40px 0;
}
.slick-slide img {
	max-width: 100%;
	transition: all 0.4s ease-in-out;
}

.slick-center {
	transform: scale(1.1);
}
.navbar a {
    text-decoration: none;
    color: black;
    font-size: 1.8rem;
}
.navbar .logo {
    background-color: white;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -40px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}
    
.navbar .logo img {
    width: 65px;
}